@import 'reset.css';

html {
    background: #eee;
    height: 100%;
}

body {
    font:13px Verdana;
    color: black;
    background-color: #eee;
}

#sm2-container {
    height: 0px;    
    visibility: hidden;
}

#page {
    margin: 0 auto;
    width: 998px;
    background: url('../images/wrapper.gif') repeat-y 0 0;
}

#header {
    position: relative;
    padding: 12px 30px;
    width: 938px;
}

h1 {
    background: white url('../images/improbable-podcast.gif') no-repeat 25% 0;
    display: block;
    height: 270px;
    text-indent: -999px;
    cursor: pointer;
}

#header .headline {
    position: absolute;
    top: 100px;
    right: 150px;
    width: 300px;
    text-align: right;
    color: #7d1b7f;
    font-size: 1.5em;
    font-weight: bold;
}

#header .headline strong {
    font-size: 1.2em;
    color: #ec75a7;
    font-weight: bold;
}

#header .headline .date {
    color: #7d1b7f;
    position: absolute;
    bottom: -20px;
    right: 0;
    font-size: 0.8em;
}

#content, #sidebar {
    border:1px solid #ddd;
    float: left;
    padding: 12px;
}

#content {
    width: 620px;
    margin-left: 30px;
    min-height: 50em;
}

#sidebar {
    width:252px;
    margin-left: 14px;
}

#footer {
    padding: 10px 0;
    text-align: center;
    clear: both;
    color: #777;
    font-size: 0.8em;
}

#footer a {
    color: #7E1B4E;
    text-decoration: underline;
}

body.show div.description {
    margin-bottom: 2em;
}

body.show div.posts p, body.show div.description p {
    margin-bottom: 0.5em;
}

body.show #content ul.episodes li {
    width: 298px;
    height: 19em;
    float: left;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

body.show #content ul.episodes li img {
    float: left;
    margin-right: 10px;
}

body.show #content ul.episodes li h3, body.show div.posts h3, body.stream div.live h3 {
    margin-bottom: 5px;
    color: #7D1B7F;
    font-size: 1.5em;
    font-weight: bold;
}

body.show div.posts {
    margin-bottom: 2em;
}

body.show #content ul.episodes li h3 a {
    text-decoration: none;
}

body.show #content ul.episodes li a {
    text-decoration: none;
    color: #7D1B7F;
}

body.show #content ul.episodes li .broadcast_date {
    color: #777;
    position: absolute;
    right: 0px;
    bottom: 35px;
    font-size: 0.8em;
}

body.show #content ul.episodes li .button {
    position: absolute;
    bottom: 0px;
    width: 272px;
}

.button {
    background: #eee url("../images/details.gif") repeat-x 0 0;
    border: 1px solid #ddd;
    display: block;
    padding:7px 12px;
    clear: both;
}

#sidebar h2 {
    color: #7d1b7f;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10px;
}

#sidebar h2:first-child {
    margin-top: 0;
}

#sidebar .podcast input {
    font-size: 0.7em;
    width: 90%;
    margin-bottom: 5px;
}

#sidebar a {
    color: #7E1B4E;
}

#sidebar .podcast object {
    margin-top: 5px;
}

#sidebar ul.social-medias li {
  padding-left: 25px; 
  line-height: 24px;
}

#sidebar ul.social-medias li.facebook {
  background: transparent url('../images/facebook.png') no-repeat scroll center left;
}

#sidebar ul.social-medias li.rss {
  background: transparent url('../images/rss.png') no-repeat scroll center left;
}

#sidebar ul.social-medias li.itunes {
  background: transparent url('../images/itunes.png') no-repeat scroll center left;
}

#sidebar ul.social-medias li.twitter {
  background: transparent url('../images/twitter.png') no-repeat scroll center left;
}

#sidebar ul.episodes li {
    position: relative;
    margin: 5px 0 15px 0;
}

#sidebar ul.episodes .broadcast_date {
    display: block;
    color: #777;
    position: absolute;
    right: 0px;
    font-size: 0.8em;
}

body.episode #content h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #7d1b7f;
}

body.episode #content h3 {
  font-size: 1.5em;
  font-weight: bold;
}

body.episode #content .description img {
  float: right;
  margin-left: 12px;
}

body.episode #content .description p {
  margin: 6px 0;
}

body.episode #content .description .content {
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
}
body.episode #content .description audio {
  width: 200px;
}

body.episode #content .description a {
  color: #7E1B4E;
  text-decoration: underline;
}

body.episode #content .description strong {
  font-weight: bold;
}

body.episode #content #disqus_thread {
  marging-top: 15px;
  background-color: #eee;
  padding: 5px 10px 0 10px;
}

#sidebar .audio .player .duration {
  display: none;
}

#sidebar .audio .player a {
  margin-top: -5px;
}

#sidebar div.twitter {
  font-size: 0.9em; 
  margin-bottom: 10px;
}

#sidebar div.twitter li {
  margin: 5px 0;
}

body.stream .live {
    width: 600px;
}

body.stream .live .twitter-box {
  margin-top: 20px;
}
body.stream .live .twtr-widget {
  clear: both;
}

body.stream .live .ui360 {
    margin-left: 15px;
}

body.stream .live .ui360 a {
    font-size: 1.2em;
    color: #7d1b7f;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -25px;
}

body.stream .live .ui360 a strong {
    font-size: 1.5em;
    color: #ec75a7;
    font-weight: bold;
}

body.stream .live .m3u {
  text-align: center;
  margin: 15px;
}

body.stream .live .m3u a {
  color: #7D1B7F;
  text-decoration: underline;
  background: transparent url('../images/vlc.png') no-repeat scroll center left;
  padding-left: 20px;
}

body.stream {
    background: white;
    height: 100%;
}


